<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html" class="home-link">Inicio</a>
        </nav>
    </header>

    <main>
        <section id="contact">
            <h2>Contacto</h2>
            <p>Si deseas más información, aquí tienes mis referencias familiares y personales:</p>

            <!-- Referencias Familiares -->
            <div class="references">
                <h3>Referencias Familiares</h3>
                <div class="reference">
                    <p><strong>Nombre:</strong> Alfonso Machacón castro</p>
                    <p><strong>Relación:</strong>Padre</p>
                    <p><strong>Teléfono:</strong> +57 3172285035</p>
                    <p><strong>Profesion:</strong>Comerciante</p>
                </div>
                <div class="reference">
                    <p><strong>Nombre:</strong>Shirley Machacon</p>
                    <p><strong>Relación:</strong>Hermana</p>
                    <p><strong>Teléfono:</strong> +57 3117142725</p>
                    <p><strong>Profesion:</strong>Bacterióloga</p>
                </div>
            </div>

            <!-- Referencias Personales -->
            <div class="references">
                <h3>Referencias Personales</h3>
                <div class="reference">
                    <p><strong>Nombre:</strong> Abelardo Fabra barrios</p>
                    <p><strong>Relación:</strong> Amigo</p>
                    <p><strong>Teléfono:</strong> +57 3142409720</p>
                    <p><strong>Profesion:</strong>Logística y transporte</p>
                </div>
                <div class="reference">
                    <p><strong>Nombre:</strong> Mariana Gutiérrez</p>
                    <p><strong>Relación:</strong> Amiga</p>
                    <p><strong>Teléfono:</strong> +57 3163035502</p>
                    <p><strong>Profesion:</strong>Lic. en lenga castellana</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>