<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia Laboral</title>
    <link rel="stylesheet" href="../styles/experiencia.css">
</head>
<body>
    <div class="home-button">
        <a href="../index.html" class="button">Home</a>
    </div>
    
    <section id="experience">
        <h2>Mis Experiencias Laborales</h2>
        <div class="job">
            <h3>Empresa 1: Inversiones buena fortuna (Tecnólogo electrónico)</h3>
            <p><strong>Rol:</strong>Aprendiz Sena</p>
            <p><strong>Duración:</strong> juio 2019 - Enero 2020</p>
            <p>Mis responsabilidades eran mantener las maquinas en buen
            estado, además brindaba soporte y reparaciones.</p>
        </div>
        <div class="job">
            <h3>Empresa 2: THOMAS GREG & SONS</h3>
            <p><strong>Rol:</strong> Soporte Escrutinio</p>
            <p><strong>Duración:</strong> Febrero 2022 - Junio 2024</p>
            <p>Acesoria y soporte a las comisiones del departamento de bolivar ademas entrega de reporte.</p>
        </div>
        <div class="job">
            <h3>Empresa 3: CENTRO AGROEMPRESARIAL TURISTICO DE LOS ANDES</h3>
            <p><strong>Rol:</strong>Desarrollador web</p>
            <p><strong>Duración:</strong> Enero 2011 - Diciembre 2014</p>
            <p>En el sena malaga via virtual, me enfoqué en el diseño y desarrollo de interfaces de usuario utilizando Vue.js y Bootstrap del lado del backend JEE. Colaboré con equipos multidisciplinarios para garantizar una experiencia de usuario óptima.</p>
        </div>
    </section>
</body>
</html>