<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia Laboral</title>
    <link rel="stylesheet" href="../styles/experiencia.css">
</head>
<body>
    <div class="home-button">
        <a href="../index.html" class="button">Home</a>
    </div>
    
    <section id="experience">
        <h2>Mis Experiencias Laborales</h2>
        <div class="job">
            <h3>Empresa 1: ineesis (Ingeniero de Soporte Técnico)</h3>
            <p><strong>Rol:</strong>Ingeniero de Soporte Técnico</p>
            <p><strong>Duración:</strong>marzo de 2015 - julio de 2015</p>
            <p>Mis responsabilidades eran brindar soporte a los funcionario de la fiscalia de la ciudad de cartagena y otros municipio ademas en el atlantico.</p>
        </div>
        <div class="job">
            <h3>Empresa 2: THOMAS GREG & SONS</h3>
            <p><strong>Rol:</strong> Soporte Escrutinio</p>
            <p><strong>Duración:</strong> Febrero 2022 - Junio 2024</p>
            <p>Acesoria y soporte a las comisiones del departamento de bolivar ademas entrega de reporte.</p>
        </div>
        <div class="job">
            <h3>Empresa 3: Vidrieria la Esperanza</h3>
            <p><strong>Rol:</strong>Desarrollador web y soporte</p>
            <p><strong>Duración:</strong> Enero 2011 - Diciembre 2014</p>
            <p>Creacion de directiva en windows server para los clientes de la corporacion y subirlo al dominio ademas creacion de plataforma virtuales de la empresa.</p>
        </div>
    </section>
</body>
</html>